@model QUANLYHIENMAUDANANG.Models.DOTHIENMAU

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="title_management">THÔNG TIN CHI TIẾT ĐỢT HIẾN MÁU</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã đợt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDot)
        </dd>

        <dt>
            Tên đợt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDot)
        </dd>

        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img width="400px" height="240px" src="~/Content/images/campaign/@Html.DisplayFor(model => model.HinhAnh)" />
        </dd>

        <dt>
            Số lượng đăng ký
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongDangKy)/@Html.DisplayFor(model => model.SoLuongDangKyToiDa)
        </dd>

        <dt>
            Ngày bắt đầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            Ngày kết thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            Đơn vị lấy máu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHOAXETNGHIEM.BENHVIEN.TenBV)
        </dd>

        <dt>
            Đơn vị tổ chức
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONVITOCHUC.TenDVTC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật | ", "Edit", new { id = Model.MaDot }, new { @class = "link_comeback" })
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "link_comeback" })
</p>
