@model QUANLYHIENMAUDANANG.Models.BENHVIEN

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="title_management">XÓA THÔNG TIN BỆNH VIỆN</div>
<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên bệnh viện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBV)
        </dd>

        <dt>
            Người đại diện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDaiDien)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn_primary" />
            @Html.ActionLink(" | Quay lại danh sách", "Index", null, new { @class = "link_comeback" })
        </div>
    }
</div>
