@model QUANLYHIENMAUDANANG.Models.PHIEUDANGKYHIENMAU

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/profile.css" />

<div class="home-main-block-content grid">
    <div class="home-main-content grid wide row">
        <div class="home-main-content-left l-3 c-0">
            <div class="home-main-block_category">
                <div class="block_category">TRANG CÁ NHÂN</div>
                <div class="block_infor_user">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>@(Session["fullname"] != null ? Session["fullname"] : Session["username"])</span>
                </div>
                <div class="block_menu">
                    <ul class="block_menu_list">
                        <li>
                            <a class="" href="">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>Thông Tin Cá Nhân</span>
                            </a>
                        </li>
                        <li>
                            <a class="" href="~/ThongTin/ChoXacNhan?MaTV=@Session["userid"]">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>Lịch Sử Hiến Máu</span>
                            </a>
                        </li>
                        <li>
                            <a class="" href="">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>Thông Báo</span>
                            </a>
                        </li>
                        <li>
                            <a class="" href="../TrangChu/DangXuatUser">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>Đăng Xuất</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end home-main-block_category -->
            <div class="home-main-content_quote">
                <div class="block_quote_title"><a href="#">Tin tức</a></div>

                <div class="block_quote_items">
                    <a href="#" title="">
                        <div>
                            <img width="100%" src="~/Content/images/news/An-Gi-Giup-Giam-Mo-Mau.jpg" />
                        </div>
                        <p>
                            17 loại thực phẩm càng ăn càng giảm mỡ máu cao.
                        </p>
                    </a>
                </div>

                <div class="block_quote_items">
                    <a href="#" title="">
                        <div>
                            <img width="100%" src="~/Content/images/news/Lo-xe-mi-kinh-dong-bach-cau-hat-e1706687566208.jpg" />
                        </div>
                        <p>
                            Lơ xê mi kinh dòng bạch cầu hạt: Nguyên nhân, triệu chứng và chẩn đoán
                        </p>
                    </a>
                </div>

                <div class="block_quote_items">
                    <a href="#" title="">
                        <div>
                            <img width="100%" src="~/Content/images/news/Dieu-tri-noi-tru-ban-ngay-11.jpg" />
                        </div>
                        <p>
                            Hướng dẫn chăm sóc sức khoẻ mùa lạnh
                        </p>
                    </a>
                </div>

                <div class="block_quote_items">
                    <a href="#" title="">
                        <div>
                            <img width="100%" src="~/Content/images/news/Thuc-pham-chua-canxi.png" />
                        </div>
                        <p>
                            Nên ăn gì để đề phòng thiếu canxi?
                        </p>
                    </a>
                </div>

                <div class="block_quote_items">
                    <a href="#" title="">
                        <div>
                            <img width="100%" src="~/Content/images/news/Ghep-te-bao-goc-tu-than-da-u-tuy-xuong-W1.jpg" />
                        </div>
                        <p>
                            Ghép tế bào gốc điều trị bệnh đa u tủy xương:  Những tiến bộ đáng ghi nhận
                        </p>
                    </a>
                </div>

                <div class="block_more">
                    <a href="">Xem thêm</a>
                </div>
            </div>
            <!-- end home-main-content_quote -->
        </div>

        <div class="home-main-content-right l-9 c-12">
            <div class="purchase_block">
                <div class="block_category">LỊCH SỬ HIẾN MÁU</div>

                <div class="purchase_heading">
                    <ul class="">
                        <li><a style="color: #175F9E; font-weight: 600;" href="">Chờ xác nhận</a></li>
                        <li><a href="~/ThongTin/DaHien?MaTV=@Session["userid"]">Đã hiến</a></li>
                    </ul>
                </div>
                <div class="purchase_content">
                    @using (Html.BeginForm("CapNhatPhieuDangKy", "ThongTin", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div style="padding: 0px 20px;" class="block_category">Cập nhật thông tin đăng ký</div>

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input style="display: none;" id="MaDKHM" name="MaDKHM" value="@Model.MaDKHM" />
                            <input style="display: none;" id="MaTV" name="MaTV" value="@Model.THANHVIEN.MaTV" />
                            <input style="display: none;" id="MaDot" name="MaDot" value="@Model.DOTHIENMAU.MaDot" />
                            <input style="display: none;" id="NgayDKHM" name="NgayDKHM" value="@DateTime.Now" />

                            <div class="form-group">
                                <label class="control-label col-md-2">Họ và tên:</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenNguoiHien, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenNguoiHien, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Ngày sinh:</label>
                                <div class="col-md-10">
                                    @Html.TextBox("NgaySinh", Model.NgaySinh.HasValue ? Model.NgaySinh.Value.ToString("yyyy-MM-dd") : "N/A", new { @class = "form-control", type = "date" })
                                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Giới tính:</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Địa chỉ:</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Số điện thoại:</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Email:</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Số CCCD:</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SoCCCD, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SoCCCD, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Lưu" class="btn_primary" />
                                </div>
                            </div>
                        </div>
                        <div>
                            @Html.ActionLink("Quay lại", "ChoXacNhan", new { MaTV = @Session["userid"] }, new { @class = "link_comeback" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
