@model QUANLYHIENMAUDANANG.Models.NHANVIENKHOAXETNGHIEM

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="title_management">XÓA THÔNG TIN NHÂN VIÊN</div>
<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>

        <dt>
            Tên nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            Chức vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Bệnh viện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHOAXETNGHIEM.BENHVIEN.TenBV)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn_primary" />
            @Html.ActionLink(" | Quay lại danh sách", "Index", null, new { @class = "link_comeback" })
        </div>
    }
</div>
